<div
  style="
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 100px;
  "
>
  <form style="text-align: center">
    <div class="mb-3">
      <label class="form-label">Username</label>

      <input
        type="username"
        class="container form-control"
        placeholder="Input your username here"
        aria-describedby="emailHelp"
        style="width: 300px"
      />
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input
        style="width: 300px"
        type="password"
        placeholder="********"
        class="container form-control"
        id="password"
      />
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="remember" />
      <label class="form-check-label" for="remember">Remember me</label>
    </div>
    <button type="login" class="btn btn-primary">Login</button>
  </form>
</div>
