<div style="justify-content: center; display: flex; align-items: center; padding: 100px;">
  <form style="text-align: center" method="post" action="/login">
    <div class="mb-3">
      <label class="form-label">Username</label>
      <input
        type="text"
        class="container form-control"
        placeholder="Input your username here"
        aria-describedby="emailHelp"
        style="width: 300px"
        name="username"
      />
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input
        style="width: 300px"
        type="password"
        placeholder="********"
        class="container form-control"
        id="password"
        name="password"
      />
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="remember" name="remember" />
      <label class="form-check-label" for="remember">Remember me</label>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
</div>
